# Entorno virtual
.venv/
env/
venv/

# Python cache
__pycache__/
*.py[cod]

# Base de datos local (opcional, pero recomendado si quieres empezar limpio)
db.sqlite3

# Archivos de medios (fotos subidas por usuarios)
media/

# IDEs
.vscode/
.idea/